@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
section,
header {
  margin: 100px 120px;
}
/* ------------------------
    Nav & Logo :start
------------------------- */
h3 {
  font-size: 24px;
  cursor: pointer;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.logo-nav nav {
  display: flex;
}
.logo-nav nav ul {
  display: flex;
}
.logo-nav nav ul li {
  padding-right: 34px;
  list-style: none;
}
.logo-nav nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
}
.menu-icon i:first-child {
  padding-right: 34px;
}
.menu-icon i {
  font-size: 24px;
}
/* ----------------------
        Header :start
----------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
}
.header-btn {
  background: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  font-weight: 700;
  margin-top: 16px;
  transition: 0.3s;
  border: 2px solid #e02c6d;
  position: relative;
  overflow: hidden;
  width: 185px;
  transition: 0.3s linear;
}
.header-btn i {
  padding-left: 5px;
}
.header-btn:hover {
  background: unset;
  color: black;
}
.fa-angle-double-right {
  margin-top: 110%;
  position: absolute;
  transition: 0.3s;
  overflow: hidden;
  margin-left: 3px;
}

.header-btn:hover .fa-angle-double-right {
  margin-top: 3px;
}
.fa-arrow-right {
  transition: 0.3s linear;
}
.header-btn:hover .fa-arrow-right {
  display: none;
}

.right-header {
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  flex-basis: 40%;
  background-size: 475px;
}
.right-header img {
  max-width: 450px;
}
.left-header {
  flex-basis: 50%;
}
